<!-- *** query.name ***
     Grab the name of the query that the user selected using the local variable 'query' from
     queries-detail.component.ts
     'query' is of type Query which is in queries.model.ts -->
<!-- *** query.description *** -
     Grab the description of the query that the user selected using the local variable 'query' from
     queries-detail.component.ts
     'query' is of type Query which is in queries.model.ts -->
<!-- *** 'Begin Query' ***
     Added a button that begins to run the query.
     TODO: Add functionality to begin the query.-->
<div class="row">
  <div class="col-xs-12">
    <h1>{{query.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{query.description}}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" type="button">Begin Query</button>
  </div>
</div>

