
.DS_Store
java/.DS_Store
java/src/my179G.class
*.class
*.class
*.xml
*.iml
*.js
*.json
/out/production/COVID-19-Data-Analysis/compile.sh
/out/production/COVID-19-Data-Analysis/pg73jdbc3.jar
/out/production/COVID-19-Data-Analysis/valid_state_names.txt
/.idea/.gitignore
/Angular/front-end/.browserslistrc
/Angular/front-end/.editorconfig
/Angular/front-end/.gitignore
/Angular/front-end/src/favicon.ico
/Angular/front-end/src/index.html
/Angular/front-end/src/main.ts
/Angular/front-end/src/polyfills.ts
/Angular/front-end/src/styles.css
/Angular/front-end/src/test.ts
/Angular/front-end/src/assets/.gitkeep
