<!-- *** <app-queries-list-item> ***
     Loop through the array of queries from queries-list.component.ts and bind each query to 'query'
     from queries-list-item.component.ts that will be emitted to the screen.
     Set the local variable 'querySelected' from queries-list.component.ts to every queryEl that loops through
     the array of queries and emit to queries-list-item.-->
<div class="row">
  <div class="col-xs-12">
    <!-- Binding 'queryEl' to 'queries' in the query-item component. Loops through the 'queries' array
     and binds them to the 'query' variable so it can be displayed in queries-list-item-->
    <app-queries-list-item
      *ngFor = "let queryEl of queries"
      [query]="queryEl"
      (querySelected)="onQuerySelected(queryEl)"></app-queries-list-item>
  </div>
</div>
